.student-form {
  background-color: #ffffff;
  padding: 30px;


  h2 {
    text-align: center;
  }

  .form-label {
    white-space: nowrap;
  }

  .academic {
    margin-top: 50px;
  }

  .parents-info {
    margin-top: 50px;
  }
}

.detail-info {
  background-color: #ffffff;
  padding: 30px;
}
