.class-detail-form {
  .form-label {
    margin-right: 2rem;
    white-space: nowrap;
    min-width: 120px;
  }
  .class-detail-table {
    width: 100%;
  }
  color: rgb(161, 165, 183);
  th,
  td {
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }
}
